/* базові стили */
main {
  flex-grow: 1;
}

:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* basic */
.section {
  padding: 96px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

/**_____///////////////////////header////////////////////////////////______*/

header {
  border-bottom: 1px solid #e7e9fc;
  background-color: var(--white-background);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.heder-logo {
  padding: 24px 1169px 24px 156px;
}

.logo {
  color: var(--primary-brand);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  /* 21/18 */
  letter-spacing: 0.03em;
  /* 0.54/18 */
  text-transform: uppercase;
  margin-right: 76px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-accent {
  color: var(--dark);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-list {
  display: flex;
  gap: 40px;
}

.heder-nav {}

.nav-item {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}

.current {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--ocean, #404bbf);
}

.informacion {
  font-style: normal;
  margin-left: auto;
}

.contact {
  color: var(--text);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  /* 24/16 */
  letter-spacing: 0.02em;
  /* 0.32/16 */
  display: flex;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--pressed-state);
}

/*?__///////////////_Body_////////////////////////////////////////////////////__ */
/* -/////////////////////секция 1//////////////////////---------- */
.hero-section {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/dark-moble.jpg);
  
  background-color: var(--hero-background);
  
  width: 428px;
  height: 432px;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* фон по центру секции? */
  margin: 0 auto;

}

.hero-container {
  padding: 112px 54px;
}

.hero-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  /*111.11%; 40/36 */
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.button {
  font-family: "Roboto", sans-serif;
  color: var(--white, #fff);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.04em;
}

.hero-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* какая красивая кнопочка)):) */
.hero-button {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  height: 56px;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.hero-button {
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* _//////////////////////////////////////секция 2///////////////////__ */

.solutions-container {}

.solutions-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-item {
  margin-bottom: 72px;
}


.feature-cub {
  display: none;
}

.feature-box {
  margin-bottom: 8px;
}

.feature-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  justify-content: center;
}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*__////////////////////////////////////////секция 3////////////////////////////////////////__*/
.what {
  background: #fff;

  padding-bottom: 120px;
}

.what-container {
  align-items: center;
}

.what-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.what-list {
  display: flex;
  gap: 24px;
}

.what-img {
  width: calc((100% - 48px) / 3);
}

/*__//////////////////секция 4 ///////////////////////////////___*/

.team-section {
  background-color: #f4f4fd;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}



.team-image {
  text-align: center;
}

.team-subt {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.person-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.person-item {}

.person-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social {
  fill: rgba(244, 244, 253, 1);
}

.team-social {
  transition: fiil 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.person-social-link:hover,
.person-social-link:focus {
  background-color: #404bbf;
}

/* --/////////////////////секция 5\\\\\\\\\\\\\\\\\\\\\\\\ */

.cust-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
}

.cust-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.cust-link {
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--lightslate, #8e8f99);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
}

.cust-item-svg {
  fill: #8e8f99;
}

.cust-link:hover,
.cust-link:focus {
  color: #404bbf;
  border-color: #404bbf;
}

.cust-item-svg {
  fill: currentColor;
}

/*?_//////////////////////////////_footer_//////////////////////////////_____ */

.ftr {
  background-color: #2e2f42;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
}

.ftr-container {
  display: flex;
  align-items: baseline;
}

.logopftr {
  margin-right: 120px;
}

.logo-down {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-down-accent {
  color: #f4f4fd;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ftr-text {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.ftr-text {
  display: flex;
  width: 264px;
}

.ftr-icon {
  margin-right: 80px;
}

.ftr-text-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white, #fff);
  margin-bottom: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ftr-icon-list {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.ftr-icon-item {
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ftr-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ftr-social {
  fill: rgba(244, 244, 253, 1);
}

.ftr-icon-link:hover,
.ftr-icon-link:focus {
  background-color: #31d0aa;
}

/* /* forma email  */
.footer-bottom {}

.footer-name {
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-email {}

.footer-input {
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  color: #ffffff;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.footer-form-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: var(--iris, #4d5ae5);
  border-radius: 4px;
  border: none;
}

.footer-form-btn:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #404bbf;
}

.ftr-airpl {}

.airpl-icon {
  margin-left: 16px;
}

.airpl-icon {
  fill: #ffffff;
}



/* !_____////////////Poptfolio///////////////________ */
.exemplo-section {
  background-color: var(--white-background);
}

.nav-button {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  gap: 24px;
  margin-bottom: 48px;
}

.nav-button-all {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-button-all:hover,
.nav-button-all:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/*?___________ список 9 штук_________________________ */

.exemplo {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.item-port {
  width: 396px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0);
  margin-bottom: 48px;
}

/* силка */
.exemplo-image {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-box-pof {
  position: relative;
  overflow: hidden;
}


/* Оверлей с текстом, появляется при наведении */

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
}

.exemplo-image:hover,
.exemplo-image:focus {
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.exemplo-image:hover .overlay-text,
.exemplo-image:focus .overlay-text {
  transform: translateY(0);
}

.exemplo-subt {
  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.exemplo-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.exemplo-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 400;
}


/* ----------------modal---------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
}

.button-close {
  position: absolute;
  border: none;
  background: transparent;
  height: 24px;
  width: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.button-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* содержание  модал окна */
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {}

.modal-cub {
  margin-bottom: 8px;
}

.modal-item {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input-icon {
  position: absolute;
  fill: #2e2f42;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-input-icon {
  fill: #4d5ae5;
}

.modal-input::placeholder,
.modal-text-area::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.modal-cub-coment {
  margin-bottom: 16px;
}

.modal-text-area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  flex-shrink: 0;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-area:focus {
  border-color: #4d5ae5;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-cub-cnopka {
  margin-bottom: 24px;
}

.modal-check:checked+.check-text span {
  fill: #f4f4fd;
  background-color: #404bbf;
  border: none;
}

.modal-check:focus+.check-text span {
  border-color: #404bbf;
}

.check-text {
  color: var(--lightslate, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
}

.check-text span {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.privacy-cnopka:checked+.check-text .accept-ok {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-cnopka:focus+.check-text .accept-ok {
  border-color: #404bbf;
}

.accept-ok {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  fill: transparent;
}

.accept-icon {
  fill: #f4f4fd;
}

input:checked+.modal-cnopka span {
  background-color: #404bbf;

  border: none;
}

.accent-link {
  color: #4d5ae5;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  padding-left: 3px;
}

.button-modal {
  min-width: 169px;
  height: 56px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\media\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@media (min-device-pixel-ratio: 2),
(min-resolution: 129dpi),
(min-resolution: 2dppx) {
  .hero-section{
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)),
url(../images/Dark-mobile2X.jpg);
}
}


@media screen and (min-width: 768px) {
  .hero-container {
    padding: 112px 136px;
  }

  .hero-section {
    width: 768px;
    height: 436px;
    flex-shrink: 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
  url(../images/Dark-bgtablet.jpg);

background-color: var(--hero-background);
  }

@media (min-device-pixel-ratio: 2),
(min-resolution: 129dpi),
(min-resolution: 2dppx) {
  .hero-section{
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)),
url(../images/Dark-tablet2X.jpg);
}
}

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    /* 60/56 */
    margin-bottom: 36px;

  }

}



@media screen and (min-width: 1200px) {

  .hero-section {
  width: 1440px;
    height: 600px; 
     display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
  url(../images/people-office.jpg);

background-color: var(--hero-background);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 129dpi),
  (min-resolution: 2dppx) {
    .hero-section{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
  url(../images/people-office2X.jpg);
  }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
    margin-bottom: 48px;
  
  }

}

@media screen and (min-width: 768px) {
  .solutions-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .solutions-list {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .feature-item {
    width: calc((100% - 24px) / 2);
  }
}


@media screen and (min-width: 1200px) {
  .feature-cub {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 767px) {
  .feature-subtitle {
    text-align: center;
  }
}

@media screen (max-width: 667px) {
  .feature-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-subtitle {
    display: flex;
    font-size: 20px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1200px) {
  .feature-text {
    font-weight: 400;
  }
}

@media screen and (max-width: 1199px) {
  .what {
    display: none;
  }
}

@media screen (max-width 1023px) {
  .what-container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

@media screen and (max-width: 768px) {
  .team-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cust-container {
    width: 584px;
  }
}


@media screen and (min-width: 768px) {
  .cust-item {
    width: calc((100% - 32px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .cust-item {
    width: calc((100% - 80px) / 6);
  }
}

/* ! Poptfolio*/

@media screen and (min-width: 428px) {
  .nav-button {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

}

@media screen and (min-width: 768px) {
  .nav-button {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-button {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .exemplo {
    display: flex;
  }
}


@media screen and (min-width: 768px) {
  .item-port {
    width: calc((100% - 24px) / 2);
  }
}


@media screen and (min-width: 1200px) {
  .item-port {
    width: calc((100% - 48px) / 3);
  }
}